.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  color: white;
  text-align: left;
  margin-top: 70px;
  position: relative;

  /* ✅ Appliquer l'image de fond en se déformant selon le conteneur */
  background: url("https://res.cloudinary.com/dshznc4xx/image/upload/v1737850263/fondpng2_rlzugn.png")
    no-repeat center;
  background-size: 100% 100%; /* Étire l'image pour qu'elle prenne toute la place */
  background-position: center;
}



.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1000px; */
  /* width: 100%; */
  gap: 40px;
}

/* Image */
.image {
  border-radius: 50%;
  border: 2px solid white;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

/* Texte */
.text-container {
  flex: 1; /* Prend tout l’espace disponible */
}

/* 📱 Mode mobile : l’image au-dessus et le texte en dessous */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0px 40px;
  }
}
