.monParcours {
  padding: 20px 20px;
  text-align: left;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.monParcours section {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.monParcours.visible {
  opacity: 1;
  transform: translateY(0);
}

.parcoursContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.experience {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(167, 199, 231, 0.3);
  background: linear-gradient(
    to bottom,
    rgba(143, 183, 222, 0.3),
    rgba(191, 215, 237, 0.15)
  );
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: pulse-lightblue 2s infinite alternate;
}

.experience:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(143, 183, 222, 0.4);
}

/* Animation subtile de pulsation */
@keyframes pulse-lightblue {
  0% {
    box-shadow: 0px 4px 10px rgba(167, 199, 231, 0.2);
  }
  100% {
    box-shadow: 0px 6px 14px rgba(143, 183, 222, 0.4);
  }
}



.monParcours h4 {
  margin-bottom: 8px;
}

/* Animation subtile de pulsation */
/* @keyframes pulse-teal {
  0% {
    box-shadow: 0px 4px 10px rgba(14, 28, 175, 0.2);
  }
  100% {
    box-shadow: 0px 6px 14px rgba(25, 25, 208, 0.4);
  }
} */

/* Logo */
.logoContainer {
  flex-shrink: 0;
}

.logo {
  width: 50px;
  height: 50px;
}

/* Détails */
.details {
  flex: 1;
}

.year {
  color: var(--muted-foreground);
  margin-bottom: 5px;
}

.company {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

.company:hover {
  text-decoration: underline;
}

/* .description {
  color: var(--foreground);
  margin-bottom: 10px;
} */

/* Badges */
.skills,
.qualities {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 10px;
}

.skillBadge {
  background: var(--primary);
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

.qualityBadge {
  background: var(--accent);
  color: var(--foreground);
  padding: 4px 8px;
  border-radius: 20px;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

/* Responsive */
@media (max-width: 768px) {
  .experience {
    flex-direction: column;
  }
}
