@import "./global.css";

/* 🎨 Styles Typographiques */
.title {
  font-size: clamp(1.0rem, 4vw, 1.3rem);
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--foreground);
  text-align: center;
}

.subtitle {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  font-weight: bold;
  color: var(--foreground);
  margin-bottom: 15px;
}

.text {
  font-size: clamp(0.9rem, 3vw, 1rem);
  color: var(--foreground);
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
}

.small-text {
  /* font-size: 1rem; */
  font-size: clamp(0.5rem, 3vw, 0.9rem);
  color: var(--foreground);
}

.description {
  font-size: 1.2rem;
  color: var(--foreground);
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.link {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--primary-dark);
}

.color-white {
  color: white;
}


/* 🎨 Adaptation pour mobile */
@media (max-width: 768px) {
}
